# DB Settings
DB_USER=my_username
DB_PASSWORD=my_password
DB_NAME=my_db_name
DB_HOST=localhost
DB_PORT=5432

# JWT Setting
SECRET_KEY=your_SKEY
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=3

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

RABBITMQ_EXCHANGE=user.events
RABBITMQ_RETRY_EXCHANGE=user.events.retry
RABBITMQ_DLQ_EXCHANGE=user.events.dlq

RABBITMQ_QUEUE=user.created.queue
RABBITMQ_RETRY_QUEUE=user.created.retry.queue
RABBITMQ_DLQ_QUEUE=user.created.dlq

RABBITMQ_ROUTING_KEY=user.created
RABBITMQ_RETRY_ROUTING_KEY=user.created.retry
RABBITMQ_DLQ_ROUTING_KEY=user.created.dlq

RABBITMQ_RETRY_TTL_MS=5000
RABBITMQ_MAX_RETRIES=3


# Sentry
SENTRY_DSN=https://abc123xyz@sentry.io/1234567

# Окружение — для разделения ошибок по стадиям
# Варианты: production, staging, development
ENVIRONMENT=development

# Версия релиза — чтобы видеть в какой версии появилась ошибка
# Для локальной разработки: dev
# Для production в CI/CD: $(git rev-parse --short HEAD)
RELEASE_VERSION=dev

# Доля транзакций для мониторинга производительности (0.0 - 1.0)
# 0.01 = 1% запросов, 1.0 = все запросы
SENTRY_TRACES_RATE=0.01